{% extends 'matches/matches_base.html' %}
{% load staticfiles %}

{% block title %}Accepted Matches{% endblock %}
{% block matches_title %}Accepted Matches — already your friends!{% endblock %}
{% block accepted_active %}active{% endblock %}

{% block matches_grid %}
    {% if matches_with_others %}
        {% for match, other_user in matches_with_others %}
            <div class="accepted-wrapper">
                <div class="user-profile-container">
                    <div class="match-card">
                        {% include 'matches/match_card.html' with other_user=other_user %}
                    </div>
                    <form action="{% url 'matches:update_match_status' match.match_id 'declined' %}" method="POST">
                        {% csrf_token %}
                        <button class="unmatch-btn" type="submit">
                            Unmatch
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No accepted matches found.</p>
    {% endif %}
{% endblock %}
