{% extends 'matches/matches_base.html' %}
{% load staticfiles %}

{% block title %}Possible Matches{% endblock %}
{% block matches_title %}Possible Matches — Your new potential friends!{% endblock %}
{% block wait_active %}active{% endblock %}
{% block possible_active %}active{% endblock %}

{% block matches_grid %}
    {% if possible_users %}
        {% for other_user in possible_users %}
            <div class="possible-wrapper">
                <div class="user-profile-container">
                    <div class="match-card">
                        {% include 'matches/match_card.html' with other_user=other_user %}
                    </div>
                    <form action="{% url 'matches:possible_match_accept' other_user.id %}" method="POST">
                        {% csrf_token %}
                        <button class="match-btn" type="submit">
                            Send Request
                        </button>
                    </form>
                    <form action="{% url 'matches:possible_match_deny' other_user.id %}" method="POST">
                        {% csrf_token %}
                        <button class="deny-btn" type="submit">
                            Deny
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <p>No possible matches found.</p>
    {% endif %}
{% endblock %}
