{% extends 'matches/matches_base.html' %}
{% load staticfiles %}

{% block title %}Pending Matches{% endblock %}
{% block matches_title %}Pending Matches — Review to Accept!{% endblock %}
{% block wait_active %}active{% endblock %}
{% block pending_active %}active{% endblock %}

{% block matches_grid %}
    {% if matches_with_others %}
        {% for match, other_user in matches_with_others %}
            <div class="pending-wrapper">
                <div class="user-profile-container">
                    <div class="match-card">
                        {% include 'matches/match_card.html' with other_user=other_user %}
                    </div>
                    <form action="{% url 'matches:update_match_status' match.match_id 'accepted' %}" method="POST">
                        {% csrf_token %}
                        <button class="match-btn" type="submit">
                            Accept
                        </button>
                    </form>
                    <form action="{% url 'matches:update_match_status' match.match_id 'declined' %}" method="POST">
                        {% csrf_token %}
                        <button class="deny-btn" type="submit">
                            Deny
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No pending matches found.</p>
    {% endif %}
{% endblock %}
