{% extends 'base.html' %}

{% load static %}  <!-- Add this line to load the static files -->

{% block title %}
    Login
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <!-- Hero Section with Description -->
    <div class="hero-container">
        <h1>Great meals, even better company.</h1>
        <h2>Find your perfect dining match!</h2>
    </div>

    <!-- Login Form Section -->
    <div class="login-container">
        <div class="login-box">
            <div class="login-buttons">
                <!-- Button to switch between Login/Sign Up -->
                <button class="btn active" id="login-btn">
                    <a href="{% url 'auth_login' %}">Log In</a>
                </button>
                <button class="btn" id="signup-btn">
                    <a href="{% url 'registration_register' %}">Sign Up</a>
                </button>
            </div>

            <div class="login-welcome-back">
                <h3>Welcome back Stranger!</h3>
            </div>

            <form method="post" action=".">
                {% csrf_token %}
                <div class="form-field">
                    <label for="id_username">Username</label>
                    <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required>
                </div>

                <div class="form-field">
                    <label for="id_password">Password</label>
                    <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
                </div>

                <div class="form-actions">
                    <button class="btn btn-submit" type="submit">Log In!</button>
                    <p class="forgot-password">
                        <a href="{% url 'auth_password_change' %}">Forgot Password?</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
