<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>

{% extends 'base.html' %}

{% block content %}
  <h1>Edit Your Profile</h1>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    
    <div>
      <label for="{{ form.bio.id_for_label }}">Bio:</label>
      {{ form.bio }}
    </div>

    <div>
      <label for="{{ form.picture.id_for_label }}">Profile Picture:</label>
      {{ form.picture }}
    </div>

    <div>
      <label for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
      {{ form.phone_number }}
    </div>

    <div>
      <label for="{{ form.age.id_for_label }}">Age:</label>
      {{ form.age }}
    </div>

    <div>
      <label for="{{ form.regional_cuisines.id_for_label }}">Regional cuisines:</label>
      {{ form.regional_cuisines }}
    </div>

    <div>
      <label for="{{ form.dining_vibes.id_for_label }}">Dining vibes:</label>
      {{ form.dining_vibes }}
    </div>

    <div>
      <label for="{{ form.budgets.id_for_label }}">Budget:</label>
      {{ form.budgets }}
    </div>

    <div>
      <label for="{{ form.age_ranges.id_for_label }}">Age Range:</label>
      {{ form.age_ranges}}
    </div>

    <div>
      <label for="{{ form.dietary_needs.id_for_label }}">Dietary Needs:</label>
      {{ form.dietary_needs }}
    </div>

    <!-- Submit button -->
    <button type="submit">Save Changes</button>
  </form>

  <br>
  <a href="{% url 'user_page:profile_home' %}">Cancel</a>

{% endblock %}

</body>
</html>
