<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A student project for UofG WAD2, which aims to allow people with similar tastes for food to meet up">
        
        <title>
            {% block title %}
                Dinner with Strangers!
            {% endblock %}
        </title>

        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        {% include 'partials/navbar.html' %}
        
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        
        {% include 'partials/footer.html' %}
        <script src="/static/js/script.js"></script>
    </body>
</html>
